<!DOCTYPE html>
<html>
<head>
  <title>freebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-fixed-top" role="navigation">
	  <div class="navbar-inner">
	    <div class="container">
	    	<a class="brand" href="#"><h1><span class="glyphicon-social-facebook"></span> Treebook</h1></a>
	    	<li><a href="">Home</a></li>
	    </div>
	  </div>
	</nav>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>
